<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unstop</title>
    <link rel="shortcut icon" href="{% static 'img/unstop-logo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

   
</head>

<body>
  {% include "base/navbar.html" %}
    <section class="home-hero">
        <div class="home-hero-container container">
            <div class="home-hero-left">
                <h1>
                    Connecting
                    <br />
                    <strong>Talent, Colleges, Recruiters</strong>
                </h1>
                <p>
                    Explore opportunities from across the globe to learn, showcase
                    skills, gain CV points, & get hired by your dream company.
                </p>
            </div>
            <div class="home-hero-right">
                <div class="home-hero-right-images">

                    <div class="home-hero-image">
                        <span>learn</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-learn.png?d=324x406" />
                        </a>
                    </div>

                    <div class="home-hero-image">
                        <span>practice</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-practice.png?d=324x406" />
                        </a>
                    </div>

                    <div class="home-hero-image">
                        <span>mentorship</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-mentorships.png?d=324x406" />
                        </a>
                    </div>


                    <div class="home-hero-image">
                        <span>compete</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-compete.png?d=324x406" />
                        </a>
                    </div>
                    <div class="home-hero-image">
                        <span>jobs</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-jobs.png?d=324x406" />
                        </a>
                    </div>
                    <div class="home-hero-image">
                        <span>blogs</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-blogs.png?d=324x406" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="slidingbrands">
        <div class="slidingbrands-container">
          <h2>
            Industry veterans
            <span>trust us:</span>
          </h2>
      
        </div>
      </section>

    <section class="lpm">
    <div class="lpm-container container">
        <div class="lpm-images">
        
            <div class="lpm-image">
                <span>learn</span>
                <a href="">
                <img src="https://cdn.unstop.com/uploads/images/home/learn-bg-new.png?d=747x534"alt=""/>
                </a>
            </div>
            
            <div class="lpm-image">
                <span>practice</span>
                <a href="">
                    <img src="https://cdn.unstop.com/uploads/images/home/practice-bg-new.png?d=747x533"alt=""/>
                </a>
                </div>
                
            <div class="lpm-image">
                <span>mentorships</span>
                <a href="">
                    <img src="https://cdn.unstop.com/uploads/images/home/mentorships-bg-new.png?d=747x534"alt=""/>
                </a>
                </div>
            
        </div>
    </div>
    </section>

    <section class="common-cards card-cont">
        <div class="common-cards-container container">
          <h2>Explore Opportunities</h2>
          <div class="common-cards-content">
            <p>Participate, Showcase Skills & Gain CV Points through online & offline opportunities of your interest & make your mark!</p>
          </div>
          <div class="common-cards-images">
          
                <div class="common-cards-image common" >
                  <span>open to<br /><strong>College<br />Students</strong></span>
                  <a href="" class="common">
                    <img src="https://cdn.unstop.com/uploads/images/compete/student.png?d=560x340"/>
                  </a>
                </div>

                <div class="common-cards-image common" >
                    <span>open to<br /><strong>Working<br />Professionals</strong></span>
                    <a href="" class="common">
                      <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d112f8a025d_professional.png?d=560x340"/>
                    </a>
                  </div>

                  <div class="common-cards-image common" >
                    <span>with<br /><strong>Team<br />Participation</strong></span>
                    <a href="" class="common">
                      <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63da479e86649_teams_new.png?d=560x340"/>
                    </a>
                  </div>

                  <div class="common-cards-image common" >
                    <span>with<br /><strong>Individual<br />Participation</strong></span>
                    <a href="" class="common">
                      <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63da47fe2c821_solo_new.png?d=560x340"/>
                    </a>
                  </div>
             
          </div>
        </div>
    </section>

    <section class="hired-cards card-cont">
        <div class="common-cards-container container">
          <h2>Get Hired</h2>
          <div class="common-cards-content">
            <p>Work with your dream companies by applying to hiring challenges and full-time & part-time jobs/internships.</p>
          </div>
          <div class="common-cards-images">
          
                <div class="common-cards-image hired" >
                  <span>Full-Time<br /><strong>Jobs<br /></strong></span>
                  <a href="" class="common">
                    <img src="https://cdn.unstop.com/uploads/images/home/job.png?d=570x340"/>
                  </a>
                </div>

                <div class="common-cards-image hired" >
                    <span>Part-Time"<br /><strong>Internships<br /></strong></span>
                    <a href="" class="common">
                      <img src="https://cdn.unstop.com/uploads/images/home/internship.png?d=570x340"/>
                    </a>
                  </div>

                  <div class="common-cards-image hired" >
                    <span>Hiring<br /><strong>Challenges<br /></strong></span>
                    <a href="" class="common">
                      <img src="https://cdn.unstop.com/uploads/images/home/hiring-challenges.png?d=570x340"/>
                    </a>
                  </div>

                  <div class="common-cards-image hired" >
                    <span>Paid<br /><strong>Internships<br /></strong></span>
                    <a href="" class="common">
                      <img src="https://cdn.unstop.com/uploads/images/home/paid-internship.png?d=570x340"/>
                    </a>
                  </div>
             
          </div>
        </div>
    </section>


    <section class='featuredopp home-feature'>
        <div class="featuredopp-container container">
          <div class="featuredopp-content">
            <h2>Featured Opportunities</h2>
            <p>
              Participate in these exceptional opportunities curated for the
              exceptional you!
            </p>
          </div>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide slide_1">Slide 1</div>
              <div class="swiper-slide slide_2">Slide 2</div>
              <div class="swiper-slide slide_3">Slide 3</div>
              <div class="swiper-slide slide_4">Slide 4</div>
              <div class="swiper-slide slide_5">Slide 5</div>
            </div>
            <div class="swiper-pagination"></div>
         </div>
          <!-- <Swiper
            spaceBetween={10}
            slidesPerView={windowSize.current <= 1000 ? 1 : 3}
            autoplay={{
              delay: 3500,
              disableOnInteraction: true,
            }}
            loop={true}
            modules={[Autoplay]}
            speed={800}
          >
            <SwiperSlide>
              <a
                href="https://unstop.com/hackathons/codegoda-2023-agoda-600316?refId=FEHOM"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/uploads/images/opportunity/mobile_banner/63e102313d79b_codegoda-2023.jpg?d=413x236"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>
                      Agoda is back with Codegoda 2023 - Exciting rewards up for
                      grab!!
                    </h4>
                    <div class="featureopp-card-bottom">
                      <div class="card-badge">
                        <img
                          src="	https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg"
                          alt="people"
                        />
                        <span>6,451 Registered</span>
                      </div>
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63c699aa6a592_calendar_today.svg"
                          alt="calendar"
                        />
                        <span>1 month left</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
            <SwiperSlide>
              <a
                href="https://unstop.com/awards/2023"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/uploads/images/63b6573964184_newsletter.jpg?d=700x400"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>Unstop Awards 2023 is now live!</h4>
                    <div class="featureopp-card-bottom">
                      <span>
                        Nominate Now
                        <MdArrowRightAlt class="right-arrow" />
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
            <SwiperSlide>
              <a
                href="https://unstop.com/competitions/loreal-brandstorm-2023-loreal-553616?refId=FEHOM"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/uploads/images/opportunity/mobile_banner/639c28d07908f_loreal-brandstorm-2023.jpg?d=413x236"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>L'Oréal Brandstorm 2023 - PPO and PPIs up for grab</h4>
                    <div class="featureopp-card-bottom">
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63c699aa6a592_calendar_today.svg
                          "
                          alt="calendar"
                        />
                        <span> 4 days left </span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
            <SwiperSlide>
              <a
                href="https://unstop.com/competitions/stock-market-showdown-sigfest23-manipal-university-mu-jaipur-615612?refId=FEHOM"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/lambda-pdfs/opportunity-bannerImages/1676809200.png?d=700x400"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>
                      Stock Market Showdown <br />
                      Manipal University (MU), Jaipur{" "}
                    </h4>
                    <div class="featureopp-card-bottom">
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="people"
                        />
                        <span>575 Registered</span>
                      </div>
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="calendar"
                        />
                        <span>3 days left</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
            <SwiperSlide>
              <a
                href="https://unstop.com/hackathons/flipkart-girls-wanna-code-40-flipkart-604383?refId=FEHOM"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/uploads/images/opportunity/mobile_banner/63e269c2926dd_flipkart-girls-wanna-code-40.png?d=413x236"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>
                      Flipkart &lt;Girls Wanna Code 4.0/&gt;. is now Live |
                      Exciting Prizes up for Grabs, register now!
                    </h4>
                    <div class="featureopp-card-bottom">
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="people"
                        />
                        <span>575 Registered</span>
                      </div>
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="calendar"
                        />
                        <span>2 days left</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
            <SwiperSlide>
              <a
                href="https://unstop.com/online-quizzing-festival?refId=FEHOM"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/uploads/images/opportunity/mobile_banner/63d78159f1066_online-quizzing-festival-oqf-season-8.jpg?d=413x236"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>
                      Online Quizzing Festival Season 8 powered by boAt is now
                      live! | Win ₹1 Lakh and boAt wearables as prizes!
                    </h4>
                    <div class="featureopp-card-bottom">
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="people"
                        />
                        <span>30,745 Registered</span>
                      </div>
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="calendar"
                        />
                        <span>9 days left</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
          </Swiper> -->
        </div>
      </section>

    <section class="lpm">
    <div class="lpm-container container">
                <a href=""><img src="https://cdn.unstop.com/uploads/images/unstop/mentorship1180x280.jpg?d=1180x280"alt=""/></a>

    </div>
    </section>

    <section class="ournumbers">
    <div class="ournumbers-container container">
        <h2>
        Our
        <strong>Numbers</strong>
        <img
            src="https://cdn.unstop.com/uploads/images/home/graph-icon.svg?d=38x27"
            alt="increasing"
            loading="lazy"
        />
        </h2>
        <div class="numbers-container">
        <div class="active-users-box">
            <h3>~5Mn+</h3>
            <span>Active Users</span>
        </div>
        <div class="opportunity-box">
            <h3>110K+</h3>
            <span>Opportunities</span>
        </div>
        <div class="organization-box">
            <h3>42K+</h3>
            <span>Organizations</span>
        </div>
        <div class="binary-box">
            <img
            src="https://cdn.unstop.com/uploads/images/home/digit-right.png?d=462x376"
            alt="binary"
            loading="lazy"
            />
        </div>
        <div class="binary-box">
            <img
            src="https://cdn.unstop.com/uploads/images/home/digit-right.png?d=462x376"
            alt="binary"
            loading="lazy"
            />
        </div>
        <div class="assessments-box">
            <h3>19.1Mn+</h3>
            <span>Assessments</span>
        </div>
        <div class="brands-box">
            <h3>500+</h3>
            <span>Brands trust us</span>
        </div>
        <div class="countries-box">
            <h3>78+</h3>
            <span>Countries</span>
        </div>
        </div>
    </div>
    </section>

    <section class="lpm">
    <div class="lpm-container container">
                <a href=""><img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63db3ac0bfbd4_download_app_new.png?d=2360x912" width="1100" alt=""/></a>

    </div>
    </section>

    <footer>
        <div class="footer">
          <div class="footer-top">
            <div class="footer-top-left">
              <div class="footer-logo">
                <img
                  src="	https://d8it4huxumps7.cloudfront.net/uploads/images/63ee0282cefc5_unstop_logo.svg"
                  alt="logo"
                />
              </div>
              <p class="dash">
                Built with 	&hearts;
                <span class="heart-icon">
                  <AiFillHeart />
                </span>
                in India for the world
              </p>
              <h3>Stay Connected</h3>
              <div class="footer-contact-links">
                <a
                  href="mailto:sales@unstop.com"
                  class="mail"
                  target="_blank"
                  rel="noreferrer"
                >
                  <IoMailOutline />
                  sales@unstop.com
                </a>
                <a
                  href="tel:9311777388"
                  class="mail"
                >
                  <MdLocalPhone />
                  +91-9311777388 <span> (Mon to Fri, 9 AM to 6 PM)</span>
                </a>
              </div>
              <div class="footer-social-links dash">
                <a
                  href="https://www.instagram.com/unstop.world/"
                  target="_blank"
                  rel="noreferrer"
                >
                  <AiFillInstagram />
                </a>
                <a
                  href="https://www.linkedin.com/company/unstop"
                  target="_blank"
                  rel="noreferrer"
                >
                  <FaLinkedinIn />
                </a>
                <a
                  href="https://www.facebook.com/Unstop.world"
                  target="_blank"
                  rel="noreferrer"
                >
                  <FaFacebookF />
                </a>
                <a
                  href="https://t.me/+ON15qceSy-IyZjY9"
                  target="_blank"
                  rel="noreferrer"
                >
                  <FaTelegramPlane />
                </a>
                <a
                  href="https://discord.com/invite/DvYWXNr4yR"
                  target="_blank"
                  rel="noreferrer"
                >
                  <FaDiscord />
                </a>
                <a
                  href="https://twitter.com/Unstop_World"
                  target="_blank"
                  rel="noreferrer"
                >
                  <FaTwitter />
                </a>
                <a
                  href="https://www.youtube.com/c/Unstop_World"
                  target="_blank"
                  rel="noreferrer"
                >
                  <FaYoutube />
                </a>
              </div>
              <h3>Stay Updated</h3>
              <p class="updated">
                We'll send you updates on the latest opportunities to showcase
                your talent and get hired and rewarded regularly.
              </p>
              <div class="newsletter">
                <a
                  href="https://unstop.com/about/newsletter"
                  target="_blank"
                  rel="noreferrer"
                >
                  Sign up for our newsletter
                  <IoMdSend />
                </a>
              </div>
              <div class="footer-left-btns dash">
                <a
                  href="https://unstop.com/blog/share-your-story-and-get-featured"
                  class="btn"
                  target="_blank"
                  rel="noreferrer"
                >
                  Share Your Story Now
                </a>
                <a
                  href="https://unstop.com/manage/opportunity/all/create"
                  class="btn"
                >
                  <HiOutlineSpeakerphone />
                  Publish Opportunity
                </a>
              </div>
              <h3>Download Unstop App</h3>
              <div class="footer-download dash">
                <a
                  href="https://play.google.com/store/apps/details?id=com.dare2compete.app"
                  class="google-play"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img
                    src="https://d8it4huxumps7.cloudfront.net/uploads/images/unstop/google-play.svg"
                    alt="google play"
                  />
                </a>
                <a
                  href="https://apps.apple.com/in/app/dare2compete/id1601170365"
                  class="app-store"
                  target="_blank"
                  rel="noreferrer"
                >
                  <img
                    src="https://d8it4huxumps7.cloudfront.net/uploads/images/unstop/app-store.svg"
                    alt="app store"
                  />
                </a>
              </div>
              <p class="dash best-viewed">
                Best Viewed in Latest Versions of Edge, Mozilla, Chrome, Opera &
                Safari. V: 2.20.2023.18.53
              </p>
              <p class="copyright">
                Copyright © 2023 FLIVE Consulting Pvt Ltd - All rights reserved.
              </p>
            </div>
            <div class="footer-top-right">
              <div class="footer-right-top">
                <div class="footer-solution-product">
                  <div class="footer-solutions">
                    <h4>Our solutions</h4>
                    <div class="footer-solutions-links links-cont">     
                          <a href="" target="_blank" rel="noreferrer">Brand</a> 
                          <a href="" target="_blank" rel="noreferrer">Source</a>
                          <a href="" target="_blank" rel="noreferrer">Engage</a>
                          <a href="" target="_blank" rel="noreferrer">Access</a>
                          <a href="" target="_blank" rel="noreferrer">Hire</a>
                       
                    </div>
                  </div>
                  <div class="footer-products">
                    <h4>Our products</h4>
                    <div class="footer-products-links links-cont">
                      
                          <a href="" target="_blank" rel="noreferrer" >
                          technology platform
                          </a>
                          <a href="" target="_blank" rel="noreferrer" >
                            online recruitment platform
                            </a>
                        <a href="" target="_blank" rel="noreferrer" >
                            quizzing / assessments
                            </a>
                        <a href="" target="_blank" rel="noreferrer" >
                            online hackathons / coding
                            </a>
                        <a href="" target="_blank" rel="noreferrer" >
                            business simulation games
                            </a>
                 
                        
                    </div>
                  </div>
                </div>
                <div class="footer-participate-apply">
                  <div class="footer-participate">
                    <h4>participate</h4>
                    <div class="footer-participate-links links-cont">
                     
                        <a href="" target="_blank" rel="noreferrer" > competitions & challenges</a>
                        <a href="" target="_blank" rel="noreferrer" > quizzes</a>
                        <a href="" target="_blank" rel="noreferrer" > hackathons</a>
                        <a href="" target="_blank" rel="noreferrer" > workshops & webinars</a>
                        <a href="" target="_blank" rel="noreferrer" > conferences</a>
                        <a href="" target="_blank" rel="noreferrer" > cultural events</a>
                        <a href="" target="_blank" rel="noreferrer" > college festivals</a>
                       
                    </div>
                  </div>
                  <div class="footer-apply">
                    <h4>apply</h4>
                    <div class="footer-apply-links links-cont">
                        <a href="" target="_blank" rel="noreferrer" > internships</a>
                        <a href="" target="_blank" rel="noreferrer" > jobs</a>
                        <a href="" target="_blank" rel="noreferrer" > scholarships</a>

                    </div>
                  </div>
                </div>
                <div class="footer-learn-practice">
                  <div class="footer-learn">
                    <h4>learn</h4>
                    <div class="footer-learn-links links-cont">
                        <a href="" target="_blank" rel="noreferrer" > courses</a>
                        <a href="" target="_blank" rel="noreferrer" > articles</a>
                        <a href="" target="_blank" rel="noreferrer" > workshops</a>
                        <a href="" target="_blank" rel="noreferrer" > technopedia</a>

                    </div>
                  </div>
                  <div class="footer-practice">
                    <h4>practice</h4>
                    <div class="footer-practice-links links-cont">
                        <a href="" target="_blank" rel="noreferrer" > MCQ mock tests</a>
                        <a href="" target="_blank" rel="noreferrer" > Code & Ace Hiring assessments</a>
                        <a href="" target="_blank" rel="noreferrer" > 100-Day of Coding sprint</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-right-bottom">
                <div class="footer-properties">
                  <div class="footer-products">
                    <h4>our properties</h4>
                    <div class="footer-products-links links-cont">
                        <a href="" target="_blank" rel="noreferrer" > Unstop Awards 2023</a>
                        <a href="" target="_blank" rel="noreferrer" > Unstop Campus Employer Branding Report 2022</a>
                        <a href="" target="_blank" rel="noreferrer" > Education Loan EMI Calculator</a>
                        <a href="" target="_blank" rel="noreferrer" > Unstop Igniters Club</a>
                        <a href="" target="_blank" rel="noreferrer" > Online Quizzing Festival</a>
                        <a href="" target="_blank" rel="noreferrer" > Online Hackathon Festival</a>
                    </div>
                  </div>
                </div>
                <div class="footer-other-links">
                  <div class="same-row-links">
                    <a
                      href="https://unstop.com/about"
                      class="divider"
                    >
                      About Us
                    </a>
                    <a
                      href="https://unstop.com/about/contact-us"
                      class="divider"
                    >
                      Contact Us
                    </a>
                    <a
                      href="https://unstop.com/about/unstop-careers"
                      class="footer-careers"
                    >
                      Careers
                      <span class="hiring">We're hiring</span>
                    </a>
                  </div>
                  <div class="same-row-links">
                    <a
                      href="https://unstop.com/about/clients"
                      class="divider"
                    >
                      Clientele
                    </a>
                    <a href="https://unstop.com/our-partners/become-a-partner">
                      Partner With Us
                    </a>
                  </div>
                  <div class="same-row-links">
                    <a
                      href="https://unstop.com/our-partners"
                      class="divider"
                    >
                      Partners
                    </a>
                    <a
                      href="https://unstop.com/faq"
                      class="divider"
                    >
                      FAQs
                    </a>
                    <a href="https://unstop.com/our-partners/branding-guidelines">
                      Branding Guidelines
                    </a>
                  </div>
                  <div class="same-row-links">
                    <a
                      href="https://unstop.com/about/testimonials"
                      class="divider"
                    >
                      Testimonials
                    </a>
                    <a href="https://unstop.com/p/featured-partners-446568">
                      Featured Partners
                    </a>
                  </div>
                  <a href="https://unstop.com/unstop-rewards-program">
                    Unstop Rewards Program
                  </a>
                  <a href="https://unstop.com/unstoppitchsharktank">
                    Unstop on Shark Tank
                  </a>
                  <div class="same-row-links">
                    <a
                      href="https://unstop.com/legal/terms-of-use"
                      class="divider"
                    >
                      Terms & Conditions
                    </a>
                    <a href="https://unstop.com/legal/privacy-policy">
                      Privacy Policy
                    </a>
                  </div>
                  <a href="https://unstop.com/directory/competitions/a/1">
                    Sitemap
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom container">
            <div class="footer-bottom-left">
              <img
                src="https://d8it4huxumps7.cloudfront.net/uploads/images/d2c-icons/d2c-payments-icon.svg"
                alt="payments assurance"
              />
              <img
                src="https://d8it4huxumps7.cloudfront.net/uploads/images/d2c-icons/payments-icon.svg"
                alt="payment methods"
              />
            </div>
            <div class="footer-bottom-right">
              <img
                src="https://d8it4huxumps7.cloudfront.net/uploads/images/unstop/gdpr-logo.png?d=300x300"
                alt="data protection"
              />
              <img
                src="https://d8it4huxumps7.cloudfront.net/uploads/images/6231c2a5bdf94_iso_27001.svg"
                alt="information security"
              />
              <img
                src="https://d8it4huxumps7.cloudfront.net/uploads/images/6231c2c0b51ff_iso_9001.svg"
                alt="iso certified"
              />
            </div>
          </div>
        </div>
      </footer>

      <div class="mobile-nav">
        <div class="mobile-nav-tabs">
          <div class="learn-tab">
            <a href="">
              <span class="tab-icon"></span>
              <span class="tab-name">learn</span>
          </a>
          </div>
          <div class="practice-tab">
            <a href="">
              <span class="tab-icon"></span>
              <span class="tab-name">practice</span>
            </a>
          </div>
          <div class="compete-tab">
            <a href="">
              <span class="tab-icon"></span>
              <span class="tab-name">compete</span>
            </a>
          </div>
          <div class="mentorship-tab">
            <a href="">
              <span class="tab-icon"></span>
              <span class="tab-name">mentorship</span>
            </a>
          </div>
          <div class="jobs-tab">
            <a href="">
              <span class="tab-icon"></span>
              <span class="tab-name">jobs</span>
            </a>
          </div>
        </div>
      </div>


<script src="{% static 'js/jquery-3.2.1.min.js' %} "></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script >
    //  Initialize Swiper
let swiper = new Swiper(".mySwiper", {
   pagination: {
     el: ".swiper-pagination",
   },
 });
</script>
</body>

</html>