{% extends 'base/base.html' %}
{% load static %}

{% block main %}

    <section class="home-hero">
        <div class="home-hero-container container">
            <div class="home-hero-left">
                <h1>
                    Connecting
                    <br />
                    <strong>Talent, Colleges, Recruiters</strong>
                </h1>
                <p>
                    Explore opportunities from across the globe to learn, showcase
                    skills, gain CV points, & get hired by your dream company.
                </p>
            </div>
            <div class="home-hero-right">
                <div class="home-hero-right-images">

                    <div class="home-hero-image">
                        <span>learn</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-learn.png?d=324x406" />
                        </a>
                    </div>

                    <div class="home-hero-image">
                        <span>practice</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-practice.png?d=324x406" />
                        </a>
                    </div>

                    <div class="home-hero-image">
                        <span>mentorship</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-mentorships.png?d=324x406" />
                        </a>
                    </div>


                    <div class="home-hero-image">
                        <span>compete</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-compete.png?d=324x406" />
                        </a>
                    </div>
                    <div class="home-hero-image">
                        <span>jobs</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-jobs.png?d=324x406" />
                        </a>
                    </div>
                    <div class="home-hero-image">
                        <span>blogs</span>
                        <a href="">
                            <img src="https://cdn.unstop.com/uploads/images/home/home-hero-blogs.png?d=324x406" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="slidingbrands">
        <div class="slidingbrands-container">
          <h2>
            Industry veterans
            <span>trust us:</span>
          </h2>
      
        </div>
      </section>

    <section class="lpm">

      <div class="lpm-container container">
          <div class="lpm-images">
          
              <div class="lpm-image">
                  <span>learn</span>
                  <a href="">
                  <img src="https://cdn.unstop.com/uploads/images/home/learn-bg-new.png?d=747x534"alt=""/>
                  </a>
              </div>
              
              <div class="lpm-image">
                  <span>practice</span>
                  <a href="">
                      <img src="https://cdn.unstop.com/uploads/images/home/practice-bg-new.png?d=747x533"alt=""/>
                  </a>
                  </div>
                  
              <div class="lpm-image">
                  <span>mentorships</span>
                  <a href="">
                      <img src="https://cdn.unstop.com/uploads/images/home/mentorships-bg-new.png?d=747x534"alt=""/>
                  </a>
                  </div>
              
          </div>
      </div>
    </section>

    <section class="common-cards card-cont">
        <div class="common-cards-container container">
          <h2>Explore Opportunities</h2>
          <div class="common-cards-content">
            <p>Participate, Showcase Skills & Gain CV Points through online & offline opportunities of your interest & make your mark!</p>
          </div>
          <div class="common-cards-images">
          
                <div class="common-cards-image common" >
                  <span>open to<br /><strong>College<br />Students</strong></span>
                  <a href="" class="common">
                    <img src="https://cdn.unstop.com/uploads/images/compete/student.png?d=560x340"/>
                  </a>
                </div>

                <div class="common-cards-image common" >
                    <span>open to<br /><strong>Working<br />Professionals</strong></span>
                    <a href="" class="common">
                      <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d112f8a025d_professional.png?d=560x340"/>
                    </a>
                  </div>

                  <div class="common-cards-image common" >
                    <span>with<br /><strong>Team<br />Participation</strong></span>
                    <a href="" class="common">
                      <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63da479e86649_teams_new.png?d=560x340"/>
                    </a>
                  </div>

                  <div class="common-cards-image common" >
                    <span>with<br /><strong>Individual<br />Participation</strong></span>
                    <a href="" class="common">
                      <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63da47fe2c821_solo_new.png?d=560x340"/>
                    </a>
                  </div>
             
          </div>
        </div>
    </section>

    <section class="hired-cards card-cont">
        <div class="common-cards-container container">
          <h2>Get Hired</h2>
          <div class="common-cards-content">
            <p>Work with your dream companies by applying to hiring challenges and full-time & part-time jobs/internships.</p>
          </div>
          <div class="common-cards-images">
          
                <div class="common-cards-image hired" >
                  <span>Full-Time<br /><strong>Jobs<br /></strong></span>
                  <a href="" class="common">
                    <img src="https://cdn.unstop.com/uploads/images/home/job.png?d=570x340"/>
                  </a>
                </div>

                <div class="common-cards-image hired" >
                    <span>Part-Time"<br /><strong>Internships<br /></strong></span>
                    <a href="" class="common">
                      <img src="https://cdn.unstop.com/uploads/images/home/internship.png?d=570x340"/>
                    </a>
                  </div>

                  <div class="common-cards-image hired" >
                    <span>Hiring<br /><strong>Challenges<br /></strong></span>
                    <a href="" class="common">
                      <img src="https://cdn.unstop.com/uploads/images/home/hiring-challenges.png?d=570x340"/>
                    </a>
                  </div>

                  <div class="common-cards-image hired" >
                    <span>Paid<br /><strong>Internships<br /></strong></span>
                    <a href="" class="common">
                      <img src="https://cdn.unstop.com/uploads/images/home/paid-internship.png?d=570x340"/>
                    </a>
                  </div>
             
          </div>
        </div>
    </section>


    <section class='featuredopp home-feature'>
        <div class="featuredopp-container container">
          <div class="featuredopp-content">
            <h2>Featured Opportunities</h2>
            <p>
              Participate in these exceptional opportunities curated for the
              exceptional you!
            </p>
          </div>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide slide_1">Slide 1</div>
              <div class="swiper-slide slide_2">Slide 2</div>
              <div class="swiper-slide slide_3">Slide 3</div>
              <div class="swiper-slide slide_4">Slide 4</div>
              <div class="swiper-slide slide_5">Slide 5</div>
            </div>
            <div class="swiper-pagination"></div>
         </div>
          <!-- <Swiper
            spaceBetween={10}
            slidesPerView={windowSize.current <= 1000 ? 1 : 3}
            autoplay={{
              delay: 3500,
              disableOnInteraction: true,
            }}
            loop={true}
            modules={[Autoplay]}
            speed={800}
          >
            <SwiperSlide>
              <a
                href="https://unstop.com/hackathons/codegoda-2023-agoda-600316?refId=FEHOM"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/uploads/images/opportunity/mobile_banner/63e102313d79b_codegoda-2023.jpg?d=413x236"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>
                      Agoda is back with Codegoda 2023 - Exciting rewards up for
                      grab!!
                    </h4>
                    <div class="featureopp-card-bottom">
                      <div class="card-badge">
                        <img
                          src="	https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg"
                          alt="people"
                        />
                        <span>6,451 Registered</span>
                      </div>
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63c699aa6a592_calendar_today.svg"
                          alt="calendar"
                        />
                        <span>1 month left</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
            <SwiperSlide>
              <a
                href="https://unstop.com/awards/2023"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/uploads/images/63b6573964184_newsletter.jpg?d=700x400"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>Unstop Awards 2023 is now live!</h4>
                    <div class="featureopp-card-bottom">
                      <span>
                        Nominate Now
                        <MdArrowRightAlt class="right-arrow" />
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
            <SwiperSlide>
              <a
                href="https://unstop.com/competitions/loreal-brandstorm-2023-loreal-553616?refId=FEHOM"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/uploads/images/opportunity/mobile_banner/639c28d07908f_loreal-brandstorm-2023.jpg?d=413x236"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>L'Oréal Brandstorm 2023 - PPO and PPIs up for grab</h4>
                    <div class="featureopp-card-bottom">
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63c699aa6a592_calendar_today.svg
                          "
                          alt="calendar"
                        />
                        <span> 4 days left </span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
            <SwiperSlide>
              <a
                href="https://unstop.com/competitions/stock-market-showdown-sigfest23-manipal-university-mu-jaipur-615612?refId=FEHOM"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/lambda-pdfs/opportunity-bannerImages/1676809200.png?d=700x400"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>
                      Stock Market Showdown <br />
                      Manipal University (MU), Jaipur{" "}
                    </h4>
                    <div class="featureopp-card-bottom">
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="people"
                        />
                        <span>575 Registered</span>
                      </div>
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="calendar"
                        />
                        <span>3 days left</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
            <SwiperSlide>
              <a
                href="https://unstop.com/hackathons/flipkart-girls-wanna-code-40-flipkart-604383?refId=FEHOM"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/uploads/images/opportunity/mobile_banner/63e269c2926dd_flipkart-girls-wanna-code-40.png?d=413x236"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>
                      Flipkart &lt;Girls Wanna Code 4.0/&gt;. is now Live |
                      Exciting Prizes up for Grabs, register now!
                    </h4>
                    <div class="featureopp-card-bottom">
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="people"
                        />
                        <span>575 Registered</span>
                      </div>
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="calendar"
                        />
                        <span>2 days left</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
            <SwiperSlide>
              <a
                href="https://unstop.com/online-quizzing-festival?refId=FEHOM"
                target={"_blank"}
                rel={"noreferrer"}
              >
                <div class="featureopp-card">
                  <div class="featureopp-card-img">
                    <img
                      src="https://d8it4huxumps7.cloudfront.net/uploads/images/opportunity/mobile_banner/63d78159f1066_online-quizzing-festival-oqf-season-8.jpg?d=413x236"
                      alt="banner"
                    />
                  </div>
                  <div class="featureopp-card-content">
                    <h4>
                      Online Quizzing Festival Season 8 powered by boAt is now
                      live! | Win ₹1 Lakh and boAt wearables as prizes!
                    </h4>
                    <div class="featureopp-card-bottom">
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="people"
                        />
                        <span>30,745 Registered</span>
                      </div>
                      <div class="card-badge">
                        <img
                          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d1240708744_people_outline.svg
                          "
                          alt="calendar"
                        />
                        <span>9 days left</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </SwiperSlide>
          </Swiper> -->
        </div>
      </section>

    <section class="lpm">
    <div class="lpm-container container">
                <a href=""><img src="https://cdn.unstop.com/uploads/images/unstop/mentorship1180x280.jpg?d=1180x280"alt=""/></a>

    </div>
    </section>

    <section class="ournumbers">
    <div class="ournumbers-container container">
        <h2>
        Our
        <strong>Numbers</strong>
        <img
            src="https://cdn.unstop.com/uploads/images/home/graph-icon.svg?d=38x27"
            alt="increasing"
            loading="lazy"
        />
        </h2>
        <div class="numbers-container">
        <div class="active-users-box">
            <h3>~5Mn+</h3>
            <span>Active Users</span>
        </div>
        <div class="opportunity-box">
            <h3>110K+</h3>
            <span>Opportunities</span>
        </div>
        <div class="organization-box">
            <h3>42K+</h3>
            <span>Organizations</span>
        </div>
        <div class="binary-box">
            <img
            src="https://cdn.unstop.com/uploads/images/home/digit-right.png?d=462x376"
            alt="binary"
            loading="lazy"
            />
        </div>
        <div class="binary-box">
            <img
            src="https://cdn.unstop.com/uploads/images/home/digit-right.png?d=462x376"
            alt="binary"
            loading="lazy"
            />
        </div>
        <div class="assessments-box">
            <h3>19.1Mn+</h3>
            <span>Assessments</span>
        </div>
        <div class="brands-box">
            <h3>500+</h3>
            <span>Brands trust us</span>
        </div>
        <div class="countries-box">
            <h3>78+</h3>
            <span>Countries</span>
        </div>
        </div>
    </div>
    </section>

    <section class="lpm">
      <div class="lpm-container container">
                  <a href=""><img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63db3ac0bfbd4_download_app_new.png?d=2360x912" width="1100" alt=""/></a>

      </div>
    </section>

    {% endblock main %}