{% extends 'base/base.html' %} 
{% load static %} 

{% block title %} Unstop
Courses: Learn Anything, Anywhere From The Best 
{% endblock title %} 

{% block main %}

<section class="practicehero">
  <div class="practicehero-container container">
    <div class="practicehero-left">
      <div class="practicehero-left-top">
        <h1>Practice</h1>
        <p>
          Solve easy to complex problems & get hands-on experience to get hired
          by your dream company!
        </p>
      </div>
      <div class="practicehero-cards">
        <a
          href="https://unstop.com/festival/unstop-5dayinterviewprep-unstop-96132"
        >
          <span>
            5-Day <br />
            Interview Prep
          </span>
        </a>
        <a href="https://unstop.com/courses/mocks">
          <span>
            MCQ-based <br />
            Mock Tests
          </span>
        </a>
        <a href="https://unstop.com/coding/100-day-of-coding-sprint-339">
          <span>
            100-Day <br />
            Coding Sprint
          </span>
        </a>
        <a href="https://unstop.com/practice/mock-interview">
          <span>Mock Interviews</span>
        </a>
      </div>
    </div>
    <div class="practicehero-img">
      <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63ca281cba532_practice_hero.png"
       alt="practice hero" />
    </div>
  </div>
</section>

<section class="slidingbrands">
    <div class="slidingbrands-container">
      <h2>
        Industry veterans
        <span>trust us:</span>
      </h2>
  
    </div>
  </section>

<section class="lpm">

<section class="dayinterview">
    
    <div clas="mockinterview-container container">
        <a
        href="https://unstop.com/festival/unstop-5dayinterviewprep-unstop-96132"
        target={"_blank"}
        rel={"noreferrer"}
        >
        <img
            src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d89ada466f5_new_crack_interview.png?d=2360x912"
            alt="mock interview"
        />
        </a>
    </div>
</section>

<section class="common-cards card-cont">
    <div class="common-cards-container container">
      <h2>Mock Tests</h2>
      <div class="common-cards-content">
        <p>Practice these questions & prepare yourself for the real-life interview problems!</p>
        <a href="https://unstop.com/courses/mocks">
            Explore All >
          </a>
       
      </div>
      <div class="common-cards-images">
      
            <div class="common-cards-image common" >
              <span><br /><strong><br /></strong></span>
              <a href="https://unstop.com/p/online-coding-assessment-mock-test-unstop-256853" class="common">
                <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d4bd1505780_online_coding_assessment_mock.png"/>
              </a>
            </div>

            <div class="common-cards-image common" >
                <span><br /><strong><br /></strong></span>
                <a href="https://unstop.com/p/verbal-ability-mock-test-unstop-257148" class="common">
                  <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d4bd1e29758_verbal_ability_mock_test.png"/>
                </a>
              </div>

              <div class="common-cards-image common" >
                <span><br /><strong><br /></strong></span>
                <a href="https://unstop.com/p/general-aptitude-mock-test-unstop-257239" class="common">
                  <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d4bd07d0a51_general_aptitude_mock.png"/>
                </a>
              </div>

              <div class="common-cards-image common" >
                <span><br /><strong><br /></strong></span>
                <a href="https://unstop.com/p/computer-fundamentals-mock-test-unstop-256848" class="common">
                  <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63d4bcfb2826a_computer_fundamental_mock.png"/>
                </a>
              </div>
         
      </div>
    </div>
</section>

<section class="codingsprint">
    <div class="codingsprint-container container">
      <div class="codingsprint-left">
        <div class="codingsprint-content">
          <h2>100-Day Coding Sprint</h2>
          <p class="big">
            Solve a new challenge every day for the next 100 days & be
            unstoppable!
          </p>
          <h3>Earn Your Badge</h3>
          <p class="small">
            Be the proud owner of a unique badge at the end of the 100th day.
          </p>
          <a
            href="https://unstop.com/coding/100-day-of-coding-sprint-339"
            target={"_blank"}
            rel={"noreferrer"}
          >
            Start your <strong> Day 1 now!</strong>
          </a>
        </div>
        <div class="codingsprint-coins">
          <img
            src="https://d8it4huxumps7.cloudfront.net/uploads/images/63ca53e616e15_sprint_badge.png"
            alt="code coins"
          />
        </div>
      </div>
      <div class="codingsprint-image">
        <img
          src="https://d8it4huxumps7.cloudfront.net/uploads/images/63ca414f787d3_coding_sprint_banner.png"
          alt="code sprint"
        />
      </div>
    </div>
</section>

<section class="common-cards card-cont">
    <div class="common-cards-container container">
      <h2>Practice Coding & Ace Hiring Assessments</h2>
      <div class="common-cards-content">
        <p>Level up your coding skills by practicing the hiring assessments of your dream companies & ace your placement game!</p>
        <a href="https://unstop.com/courses/mocks">
            Explore All >
          </a>
       
      </div>
      <div class="common-cards-images">
      
            <div class="common-cards-image common" >
              <span><br /><strong><br /></strong></span>
              <a href="https://unstop.com/coding/practice" class="common">
                <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63b4012ca76f0_amazon.png"/>
              </a>
            </div>

            <div class="common-cards-image common" >
                <span><br /><strong><br /></strong></span>
                <a href="https://unstop.com/coding/practice" class="common">
                  <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63cf9671ebb4f_google.png"/>
                </a>
              </div>
              <div class="common-cards-image common" >
                <span><br /><strong><br /></strong></span>
                <a href="https://unstop.com/coding/practice" class="common">
                  <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63ce601fa5efc_microsoft.png"/>
                </a>
              </div>

              <div class="common-cards-image common" >
                <span><br /><strong><br /></strong></span>
                <a href="https://unstop.com/coding/practice" class="common">
                  <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63ce6042a7392_meta.png"/>
                </a>
              </div>

              <div class="common-cards-image common" >
                <span><br /><strong><br /></strong></span>
                <a href="https://unstop.com/coding/practice" class="common">
                  <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/63ce6055342a4_apple.png"/>
                </a>
              </div>
         
      </div>
    </div>
</section>

<section class="mockinterview">
    <div class="mockinterview-container container">
      <a
        href="https://unstop.com/practice/mock-interview"
        target={"_blank"}
        rel={"noreferrer"}
      >
        <img
          src= "https://d8it4huxumps7.cloudfront.net/uploads/images/63de4167521d8_mock_interview_banner.png?d=2360x912"
          alt="mock interview"
        />
      </a>
    </div>
  </section>

  <section class="ournumbers">
    <div class="ournumbers-container container">
        <h2>
        Our
        <strong>Numbers</strong>
        <img
            src="https://cdn.unstop.com/uploads/images/home/graph-icon.svg?d=38x27"
            alt="increasing"
            loading="lazy"
        />
        </h2>
        <div class="numbers-container">
        <div class="active-users-box">
            <h3>~5Mn+</h3>
            <span>Active Users</span>
        </div>
        <div class="opportunity-box">
            <h3>110K+</h3>
            <span>Opportunities</span>
        </div>
        <div class="organization-box">
            <h3>42K+</h3>
            <span>Organizations</span>
        </div>
        <div class="binary-box">
            <img
            src="https://cdn.unstop.com/uploads/images/home/digit-right.png?d=462x376"
            alt="binary"
            loading="lazy"
            />
        </div>
        <div class="binary-box">
            <img
            src="https://cdn.unstop.com/uploads/images/home/digit-right.png?d=462x376"
            alt="binary"
            loading="lazy"
            />
        </div>
        <div class="assessments-box">
            <h3>19.1Mn+</h3>
            <span>Assessments</span>
        </div>
        <div class="brands-box">
            <h3>500+</h3>
            <span>Brands trust us</span>
        </div>
        <div class="countries-box">
            <h3>78+</h3>
            <span>Countries</span>
        </div>
        </div>
    </div>
</section>

{% endblock main %}
